@import "global";
@import "fonts";

//start header
.header__top {
  background-color: #fff;
  &-inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .header__text {
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
    }
  }
}
.header__menu {
  background-color: #aceae2;
  opacity: 0.902;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}
.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }
}
.header__menu {
  .menu__list a.active {
    border-bottom: 2px solid #0e3326;
    padding-bottom: 5px;
  }
  .menu__list a:hover {
    color: #fff;
  }
}
//end header
//start calculations
.calculations {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  margin-top: -90px;
  .calculations__inner {
    display: flex;
    justify-content: space-between;
    &-content {
      margin-top: 210px;
      .content__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
      }
      .content__text {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        span {
          margin-left: 60px;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 15px;
        }
        .icon-checkmark:before {
          padding-right: 10px;
          font-size: 14px;
        }
      }
    }
    &-costs {
      margin-top: 210px;
      margin-right: 60px;
      border: 1px solid rgb(204, 204, 204);
      background-color: rgba(247, 245, 245, 0.8);
      box-shadow: 0px 28px 61.56px 14.44px rgba(43, 29, 10, 0.14);
      max-width: 320px;
      text-align: center;
      padding: 50px 35px;
      .costs__title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      .costs__text {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: 600;
        line-height: 24px;
        padding-bottom: 20px;
      }
      form {
        input {
          min-width: 260px;
          min-height: 40px;
          margin-bottom: 10px;
          padding: 0 15px;
        }
        button {
          min-width: 260px;
          min-height: 40px;
          background-color: #0e3326;
          color: #fff;
          border: none;
          cursor: pointer;
          text-transform: uppercase;
        }
      }
    }
  }
}
//end calculations
//start choose
.choose {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
}
.title {
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}
.choose__inner {
  width: 300px;
  display: flex;
  &-item {
    text-align: center;
    margin-left: 30px;
    img {
      border-radius: 50%;
      border: 5px solid #fff;
    }
    & + .choose__inner-item {
      margin-left: 150px;
    }
    .choose-item__title {
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      color: #bcfff0;
      padding-top: 30px;
      padding-bottom: 15px;
    }
    .choose-item__text {
      color: #fff;
    }
  }
}
//end choose
//start projects
.projects__title {
  color: #0e3326;
  padding-top: 80px;
}
.projects__slider {
  margin-bottom: 60px;
  &-item {
    text-align: center;
    .slider-item__title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    img {
      margin-left: 30px;
      border-radius: 2%;
      border: 5px solid #6bcdb9;
      margin-bottom: 35px;
    }
    a {
      text-transform: uppercase;
      border: 1px solid #0e3326;
      padding: 10px 25px;
    }
  }
}
ul.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  margin-top: 60px;
  li {
    margin: 0 10px;
    height: 12px;
    width: 12px;
    background-color: #c0d6ce;
    border-radius: 50%;
  }
}

.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active {
  background-color: #217b6d;
}
//end projects
//start work
.work {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
}
.work__title {
  color: #0e3326;
  padding-top: 120px;
}
.work__inner {
  display: flex;
  justify-content: space-between;
  &-item {
    margin-top: 80px;
    text-align: center;
    max-width: 220px;
    span {
      font-size: 105px;
      color: #6bcdb9;
      border: 3px dashed #6bcdb9;
      border-radius: 50%;
      padding: 25px 30px;
      &:hover {
        color: rgb(10, 148, 125);
        border: 3px dashed rgb(10, 148, 125);
      }
    }
    .work__text {
      font-size: 26px;
      margin-top: 90px;
      font-weight: 600;
    }
  }
}
//end work
//start customers
.customers {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
}
.customers__slider-item {
  display: flex !important;
  img {
    margin-left: 30px;
    border-radius: 2%;
    border: 5px solid #6bcdb9;
    margin-bottom: 35px;
  }
  .customers__slider-feedback {
    margin-left: 60px;
    img {
      border: 5px solid #6bcdb9;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
    }
    .feedback__text {
      margin-top: 40px;
      color: #fff;
      text-align: center;
      max-width: 380px;
    }
  }
}
//end customers
//start contacts
.contacts {
  position: relative;
  margin-bottom: 80px;
}
.contacts__title {
  color: #0e3326;
  padding-top: 80px;
  padding-bottom: 40px;
}
.contact__form {
  position: absolute;
  top: 230px;
  right: 200px;
  max-width: 320px;
  background-color: #fff;
  text-align: center;
  padding: 35px 25px;
  .contact__form-title {
    color: #0e3326;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 30px;
  }
  input {
    min-width: 260px;
    min-height: 40px;
    margin-bottom: 10px;
    padding: 0 15px;
  }
  .form__message {
    input {
      min-height: 95px;
    }
  }
  button {
    margin-top: 15px;
    min-width: 95px;
    min-height: 40px;
    background-color: #0e3326;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }
}
//end contacts
//start footer
.footer {
  height: 90px;
  background-color: #aceae2;
  opacity: 0.902;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  .footer__text {
    text-transform: uppercase;
    font-weight: 600;
  }
  .footer-btn {
    padding: 6px 12px;
    background-color: #0e3326;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}
//end footer
